---
import Layout from "../layouts/Layout.astro";
import Header from "../components/partials/Header.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Skills from "../components/Skills.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/partials/Footer.astro";
---

<Layout
  title="Manuel GS | Desarrollador web con formación en Literaturas Comparadas"
description="Desarrollador web fullstack con experiencia en JavaScript. Combino creatividad y lógica, gracias a mi formación en literatura, para crear experiencias digitales atractivas y funcionales."
>
  <Header />
  <main>
    <Hero />
    <About />
    <Skills />
    <Projects />
    <Contact />
  </main>
  <Footer />
</Layout>
