---
import Layout from '../layouts/Layout.astro';
import Header from '../components/partials/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Skills from '../components/Skills.astro';
import Projects from '../components/Projects.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/partials/Footer.astro';
---

<Layout title="Manuel GS | Programación + Literatura">
	<Header />
	<main>
		<Hero  /> <!-- Habilita JavaScript en este componente -->
		<About />
		<Skills />
		<Projects />
		<Contact />
	</main>
	<Footer />
</Layout>

